.ts_checkbox [type="checkbox"]:not(:checked) + label:after, .ts_checkbox [type="checkbox"]:checked + label:after {
	background-color: #FBC02D;
}
.ts_btn{
    background-color: #FBC02D;
}
.ts_btn:hover, .ts_btn:focus{
    background-color: #DCAD39;
}
.ts_single_theme_box_img{
	border: 1px solid #DCAD39;
}
.ts_disabled_btn{
    background-color: #FBC02D;
}
.ts_disabled_btn:hover, .ts_disabled_btn:focus{
    background-color: #FBC02D;
}
.ts_heading h3:after{
    border-bottom: 5px solid #FBC02D;
}
.ts_breadcrumb ul li:last-child{
	color:#FBC02D;
}
.ts_breadcrumb ul li a:hover{
	color:#FBC02D;
}
.ts_main_menu ul li:hover a:after{
	border-top: 5px solid #FBC02D;
}
.ts_main_menu ul li.active a {
	border-top: 5px solid #FBC02D;
}
.ts_main_menu ul li ul.sub_menu {
	border-top:5px solid #FBC02D;
}
.ts_main_menu ul li ul.sub_menu li:hover a {
	color:#FBC02D;
}
.ts_main_menu ul li ul.sub_menu li ul.sub_menu li:hover a{
	color:#FBC02D;
}
.ts_right_menu ul li a span{
    background-color: #FBC02D;
}
.ts_oops_wrapper h3:after{
	background-color:#FBC02D;
}
.ts_preview_freame_option ul li ul li span{
    background-color: #FBC02D;
}
.ts_preview_freame_option ul li a{
	background-color: #FBC02D;
}
.ts_preview_freame_btns ul li a span:after {
    border-color: #FBC02D transparent;
}
.ts_preview_freame_btns ul li a span{
    border: 1px solid #FBC02D;
    background-color: #FBC02D;
}
.active_tbl .ts_pritable_price h1 {
    color: #FBC02D;
}
.active_tbl .ts_pritable_title h4:after {
    background-color: #FBC02D;
}
.active_tbl .ts_pritable_title h4 {
    color: #FBC02D;
}
.ts_pritable_price h1 sup{
	color:#FBC02D;
}
.ts_preview_freame_option ul li ul::-webkit-scrollbar {
    border: 1px solid #FBC02D;
}
.ts_preview_freame_option ul li ul::-webkit-scrollbar-thumb {
    background: #FBC02D;
    -webkit-box-shadow: inset 0 0 2px #FBC02D;
}
.ts_preview_freame_option ul li ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px #FBC02D;
}
.ts_links a:hover{
	color:#FBC02D;
}
.ts_cart_table .table tr td .ts_remove{
    background-color: #FBC02D;
}
.ts_about_license:hover{
	color:#FBC02D;
}
.ts_contact_form form .form-control:focus {
	border-color:#FBC02D;
}
.ts_contact_details ul li i{
	color:#FBC02D;
}
.ts_forgot_link a:hover{
	color:#FBC02D;
}
.ts_get_link a{
	color:#FBC02D;
}
.ts_get_link a:hover{
	color:#FBC02D;
}
.ts_backlink a{
	color:#FBC02D;
}
.ts_backlink a:hover{
	color:#FBC02D;
}
.ts_footer_link ul li a:hover{
	color:#FBC02D;
}
.ts_copyright p a {
    color: #FBC02D;
}
.ts_top_footer_section a:hover {
	color:#FBC02D;
}
.ts_top_footer_section ul li a:hover {
	color:#FBC02D;
}
.ts_client_say_slider .owl-dot:hover, .ts_client_say_slider .owl-dot.active{
	background-color:#FBC02D;
}
.ts_client_say_slider .owl-dot {
    border: 2px solid #FBC02D;
}
.ts_theme_filter_wrapper ul li a:hover, .ts_theme_filter_wrapper ul li a.ts_cate_active{
    background-color: #FBC02D;
    border: 1px solid #FBC02D;
}
.ts_share_box a:hover{
	color:#FBC02D;
}
.ts_single_theme_box_detail ul li i{
	color:#FBC02D;
}
.ts_search_btn{
    background-color: #FBC02D;
}
.ts_info_menu ul li a.active{
	color:#fff;
	background-color:#FBC02D;
    border: 1px solid #FBC02D;
}
.ts_info_menu ul li a:hover{
	color:#fff;
	background-color:#FBC02D;
	border: 1px solid #FBC02D;
}
.ts_download_table .table tr td span a:hover, .ts_download_table .table tr td span a:focus{
	color:#FBC02D;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.ts_privacy_info_section p:after{
	color:#FBC02D;
}
.ts_terms_info_section p:after{
	color:#FBC02D;
}
.ts_payment_box select{
	color:#FBC02D;
}
.ts_payment_box select:focus, .ts_payment_box select:hover{
    background-color: #DCAD39;
}
.ts_popup_wrapper a.ts_popup_close:hover{
    color: #DCAD39;
}
.ts_popup_wrapper .ts_right_arrow{
    color: #DCAD39;
}
.ts_popup_wrapper .ts_left_arrow{
    color: #DCAD39;
}
.banktransfer_div span{
    color:#FBC02D;
}
#vendor_icon{
    color:#FBC02D;
}
.ts_theme_details p a:hover{
	color:#FBC02D;
}
.ts_theme_details p a i{
	color:#FBC02D;
}
.ts_lang_section:after{
    border: 1px solid #FBC02D;
	background-color:#FBC02D;
}
.ts_lang_section{
	background-color:#FBC02D;
}
.ts_lang_section select:focus{
	border: 1px solid #FBC02D;
}